.container-custom {
  background-color: #323233;
  border-radius: 0.25rem;
  height: 150px;
  transition: background-color 0.8s ease;
}

.card-custom:hover .container-custom {
  background-color: #ff5a19;
}


.user-icon-container img {
  background-color: #ff5a19;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  z-index: 1;
  margin-top: -100px;
  border: 1px solid black;
  transition: background-color 0.8s ease;

}

.custom-btn, .custom-btn-edit, .custom-btn-delet  {
  width: 150px;
  margin: 0 auto;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-btn:hover {
  background-color: #ff5a19 !important;
  color: #ffffff !important;
}

.custom-btn-edit:hover {
  background-color: #00659e !important;
  color: #ffffff !important;
}

.custom-btn-delet:hover {
  background-color: #d40808d8 !important;
  color: #ffffff !important;
}

.card-custom:hover .user-icon-container img {
  background-color: #323233;
  transform: scale(1.05);
}


.card-body-custom{
  background-color: #3232333a;

}

.card-custom {
  transition: transform 0.5s ease;
}

.card-custom:hover {
  transform: scale(1.01);
}
